#cb_extension_container {
    height: 580px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cb_extension_container button {
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #1652f0;
    border: 1px solid #1652f0;
    outline: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

#cb_logo {
    width: 320px;
    margin-bottom: 35px;
}

#cb_extension_container button:active {
    box-shadow: 0 1px darkgray;
    transform: translateY(1px);
}

#cb_extension_container input {
    width: 85%;
    height: 35px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 10px;
}
#cb_converted_amount {
    margin-top: -20px;
    margin-bottom: 10px;
    color: #777;
    height: 10px;
}

.cb_container {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cb_message {
    text-align: center;
    word-wrap: break-word;
    width: 100%;
}

#cb_2fa_verification_container {
    text-align: center;
}

#cb_send_container {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cb_submission_form_header {
    text-align: center;
}

#cb_accounts_link {
    font-size: 14px;
    color: #1652f0;
    text-decoration: none;
}

#cb_accounts_link_container {
    margin-bottom: 30px;
    text-align: center;
}

#cb_extension_tabs_container {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  font-size: 16px;
  padding-top: 5px;
  color: #708498;
}

.cb_extension_tab {
  text-align: center;
  width: 50%;
  cursor: pointer;
}

.active_tab {
  color: #1652f0;
  border-bottom: solid 2px #1652f0;
}

.inactive_tab {
  border-bottom: solid 1px #ccc;
}

#cb_submit_transaction_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cb_submit_error_container {
  height: 10px;
}

#cb_submit_error_message {
  color: orange;
}

#cb_receive_container select {
    width: 90%;
    height: 35px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #777;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 10px;
}

#cb_submit_transaction_form select {
    width: 90%;
    height: 35px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #777;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 10px;
}

#cb_submit_transaction_form button {
    margin-top: 10px;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: #1652f0;
  background: -moz-linear-gradient(left, #1652f0 10%, rgba(12,31,255, 0) 42%);
  background: -webkit-linear-gradient(left, #1652f0 10%, rgba(12,31,255, 0) 42%);
  background: -o-linear-gradient(left, #1652f0 10%, rgba(12,31,255, 0) 42%);
  background: -ms-linear-gradient(left, #1652f0 10%, rgba(12,31,255, 0) 42%);
  background: linear-gradient(to right, #1652f0 10%, rgba(12,31,255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #1652f0;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
