#cb_extension_container {
    height: 580px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cb_extension_container button {
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #1652f0;
    border: 1px solid #1652f0;
    outline: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

#cb_logo {
    width: 320px;
    margin-bottom: 35px;
}

#cb_extension_container button:active {
    box-shadow: 0 1px darkgray;
    transform: translateY(1px);
}

#cb_extension_container input {
    width: 85%;
    height: 35px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 10px;
}
#cb_converted_amount {
    margin-top: -20px;
    margin-bottom: 10px;
    color: #777;
    height: 10px;
}

.cb_container {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cb_message {
    text-align: center;
    word-wrap: break-word;
    width: 100%;
}

#cb_2fa_verification_container {
    text-align: center;
}

#cb_submit_transaction_container {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cb_submission_form_header {
    text-align: center;
}

#cb_accounts_link {
    font-size: 14px;
    color: #1652f0;
    text-decoration: none;
}

#cb_accounts_link_container {
    margin-bottom: 30px;
    text-align: center;
}

#cb_submit_transaction_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cb_submit_error_container {
  height: 10px;
}

#cb_submit_error_message {
  color: orange;
}

#cb_submit_transaction_form select {
    width: 90%;
    height: 35px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #777;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 10px;
}

#cb_submit_transaction_form button {
    margin-top: 10px;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #ccc;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
